.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1.stunning-heading{
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #007BFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@keyframes rotateColor {
  0%{
    color: #007BFF;
    transform: rotate(0deg);
  }
  25%{
    color: #FF6347;
    transform: rotate(5deg);
  }
  50% {
    color: #FFD700;
    transform: rotate(-5deg);
  }
  75% {
    color: #008000;
    transform: rotate(5deg);
  }
  100% {
    color: #007BFF;
    transform: rotate(0deg);
  }
}

h1.stunning-heading:hover{
  animation: rotateColor 2s linear infinite;
  cursor: pointer;
}

h2{
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

p{
  font-size: 16px;
  line-height: 1.5;
  color: #666;
}

.container{
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.column{
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button{
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:last-child{
  margin-right: 0;
}

.button:hover{
  background-color: #007BFF;
  color: white;
}

ul{
  list-style-type: none;
  padding: 0;
}

li{
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}